[Unit]
Description=MLNX CEPH reporting service

[Service]
ExecStart=/opt/mellanox/ceph/reporting-service/mlnx-ceph-report.sh

[Install]
WantedBy=multi-user.target
#Wants=ceph.target
After=ceph.target
